<h2 class="text-center">Round {{round_number}}</h2>
<h2 class="text-center" *ngIf="player">{{ player.username }}'s turn</h2>
<br>
<div class="row">
  <div class="col-md-4">
      <div class="choice-card" (click)="chooseOption('paper')">
          <i class="fas fa-hand-paper"></i>
      </div> 
  </div>

  <div class="col-md-4">
      <div class="choice-card" (click)="chooseOption('rock')">
          <i class="fas fa-hand-rock"></i>
      </div>  
  </div>

  <div class="col-md-4">
    <div class="choice-card" (click)="chooseOption('scissors')">
        <i class="fas fa-hand-scissors"></i>
    </div>    
  </div>  
</div>
<br>
<br>