<div class="row ">  
    <div class="col-md-6 col-sm-12 game-section">
        <div class="row">
          <div class="col-md-12">         
              <app-choice></app-choice>
          </div>         
        </div>         
    </div>
    <div class="col-md-5 col-sm-12 offset-md-1 game-section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Score</h2>
                <app-score></app-score>
            </div>         
          </div>
    </div>
  </div>